<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>Kaizen Project</title>
    <link rel="stylesheet" type="text/css" href="/static/bulma.css" />
    <link rel="stylesheet" type="text/css" href="/static/style-OSS.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>

<body>
    <nav class="nav is-dark has-shadow" id="top">
        <div class="container">
            <div class="nav-left">
                <a class="nav-item" href="../home.html">
                    <img src="/static/images/bulma.png" alt="Description" />
                </a>
            </div>
            <span class="nav-toggle">
                          <span></span>
            <span></span>
            <span></span>
            </span>
            <div class="nav-right nav-menu">
                <a href="/pages/#/home" class="nav-item is-tab ">Home</a>
                <a class="nav-item is-tab">Map</a>
                <a class="nav-item is-tab is-active">Upload</a>
                <a href="/pages/#/about" class="nav-item is-tab">About</a>
                <span class="nav-item">          
                <span>profile: Login as </span>
                <span>
                <a class="button">Log in</a>
                <a class="button is-info">Sign up</a></span>
                </span>
            </div>
        </div>
    </nav>
    <div class="container" style="margin-top: 20px">
        <h1 style="color: #363636;font-size: 2rem;font-weight: 300;">Post Uploader Form</h1>
        <form name=theform style="margin-top: 10px">
            <div class="field">
                <label class="label">Title:</label>
                <p class="control">
                    <input class="input" type="text" id="title" placeholder="Text input" value="">
                </p>
            </div>
            <div class="field">
                <label class="label">Catalogue:</label>
                <p class="control">
                    <span class="select">
				      <select id="catalogue">
				          	<option value="GA" selected>民间游戏</option>
			                <option value="ST">传说/故事</option>
			                <option value="TO">儿歌/童谣</option>
			                <option value="SP">玩意/把式</option>
				      </select>
	    			</span>
                </p>
            </div>
            <div class="field">
                <label class="label">Description:</label>
                <p class="control">
                    <textarea style="height:150px;" id="description" class="textarea" placeholder="Textarea"></textarea>
                </p>
            </div>
            <div class="field">
                <p class="control">
                    <label class="radio">
                        <input type="radio" name="myradio" value="local_name" checked=true/> 上传文件名字保持本地文件名字
                    </label>
                    <label class="radio">
                        <input type="radio" name="myradio" value="random_name" /> 上传文件名字是随机文件名, 后缀保留
                    </label>
                </p>
            </div>
        </form>
        <div class="field" style="margin-top: 20px">
            <h4>您所选择的文件列表：</h4>
            <div id="ossfile">你的浏览器不支持flash,Silverlight或者HTML5！</div>
            <br/>
            <div id="container">
                <a id="selectfiles" href="javascript:void(0);" class="button">选择文件</a>
                <a id="postfiles" href="javascript:void(0);" class="button is-info">开始上传</a>
                <a id="submit" href="#" class="button is-success">submit</a>
            </div>
            <br/>
            <pre id="console"></pre>
            <p></p>
        </div>
    </div>
</body>
<script type="text/javascript" src="/static/lib/plupload-2.1.2/js/plupload.full.min.js"></script>
<script type="text/javascript" src="/static/upload.js"></script>

</html>
